.container {
    max-width: 600px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    
    .container{
        max-width: 90%;
    }
    
    .row {
        height: 80px;
        display: flex;
        align-items: center;
      }
}