<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-12 d-flex align-items-center justify-content-center">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div *ngIf="isSubmitted" class="alert alert-success" role="alert">
          Erfolgreiche Bewerbung für den Kurs!
        </div>
        <h2 class="text-center mb-4">Zum Kurs anmelden!</h2>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Name</mat-label>
          <input matInput id="name" formControlName="name" placeholder="Name" />
          <mat-error *ngIf="registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched">
            Name ist erforderlich!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Geburtsdatum</mat-label>
          <input matInput id="birthdate" formControlName="birthdate" [matDatepicker]="picker" placeholder="Geburtsdatum" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registrationForm.get('birthdate')?.invalid && registrationForm.get('birthdate')?.touched">
            Geburtsdatum ist erforderlich!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" placeholder="Email Adresse" type="email" />
          <mat-error *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            Gültige Email-Adresse erforderlich!
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="newsletter" class="mb-3">Für den Newsletter anmelden</mat-checkbox>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Kurs auswählen</mat-label>
          <mat-select formControlName="courseId">
            <mat-option value="" disabled>Bitte auswählen</mat-option>
            <mat-option *ngFor="let course of storeService.courses" [value]="course.id">
              {{ course.name }}, {{ course.instructor }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.get('courseId')?.invalid && registrationForm.get('courseId')?.touched">
            Kursauswahl ist erforderlich!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="w-100" [disabled]="registrationForm.invalid">
          Erfassen
        </button>
      </form>
    </div>
  </div>
</div>
